.max-width{
    max-width: 2000px;
}
.img-width{
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    /* aspect-ratio: 1/2; */
    object-fit: cover;
}
.img-projects{
    max-width: 800px;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.col-width{
    max-width: 400px;
}
.logo-width{
    /* max-width: clamp(60px, 4vw, 80px); */
    width: 160px;
    /* aspect-ratio: 3/1; */
    object-fit: contain;
}
.icon-spec{
    width: 12px;
    height: 12px;
    object-fit: contain;
}
.icon-spec-svg{
    width: 40px;
    aspect-ratio: 4/4;
    object-fit: cover;
}
.wh-2rem{
    width: 2rem;
    height: 2rem;
}
.h-10rem{
    height: 10rem;
}
.max-width-10rem{
    max-width: 10rem;
}
.max-width-40rem{
    max-width: 40rem;
}
.object-cover{
    object-fit: cover;
}
.over-hidden{
    overflow: hidden;
    /* -webkit-mask-image: -webkit-radial-gradient(white, black); */
}
.over-visible{
    overflow: visible;
  }
.over-hidden-x{
    overflow-x: hidden;
  }
.uppercase{
    text-transform: uppercase;
}
/* .font-family-nav{

}
.font-family-logo{
}
.font-family-sub{
} */
.title-text{
    /* font-size: clamp(4rem, 5vw, 6rem); */
    font-size: clamp(3.4rem, 5vw, 6rem);
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    line-height: 56px;
}
.parag-text{
    font-size: clamp(0.8rem, .8vw, 1rem);
    font-weight: 400;
}
.artis-font-active{
    font-size: clamp(0.8rem, 1vw, 1rem);
}
.artis-font-no-active{
    font-size: clamp(0.6rem, .6vw, 1rem);
}

.font-size-nav{
    font-size: clamp(1rem, 1vw, 1.1rem);
}
.font-size-logo{
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}
.font-size-title{
    font-size: clamp(3rem, 5vw, 5rem);
}
.font-size-sub-title{
    font-size: clamp(1.4rem, 2vw, 2rem);
}
.font-size-span{
    font-size: clamp(1rem, 1vw, 1.4rem);
}
.font-size-paragraph{
    font-size: clamp(0.8rem, 1vw, 1rem);
}
.font-btn{
    font-size: clamp(.8rem, .8vw, 1rem);
}
.font-footer-text{
    font-size: clamp(1rem, 1.4vw, 1.2rem);
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600
}
.color-title{
    color: #F4F4F4;
}
.color-sub-title{
    color: #696969;
}
.color-paragraph{
    color: #AFAFAF;
}
.color-nav{
    color: #F4F4F4;
}
.color-text{
    /* color: #fff; */
    color: rgb(240, 240, 240);
    fill: rgb(240, 240, 240);
}
.color-text-2{
    color: rgb(225, 220, 208);;
    fill: rgb(225, 220, 208);;
}
.color-dark{
    /* color: #111; */
    color: rgb(19,19,19);
    
}
.color-sub-text{
    color: #838383
}
.bg-none{
    background: none;
}
.bg-color{
    background-color: #1A1A1A;
}
.bg-nav{
    background-color: #2d2d2d;
}
.bg-box{
    /* background-color: #696969; */
    /* background-color: linear(90deg rgba(0,0,0,1) rgba(255,255,255,1)); */
    /* background-color: rgba(175, 175, 175, .3); */
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(33deg, rgba(0, 0, 0, 0.752) 0%, rgba(30, 30, 30, 0.774) 42%, rgba(12, 12, 12, 0.629) 81%);
}
.bg-box-dark{
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0));

}
.bg-button{
    /* background-color: #F4F4F4; */
    background-color: rgba(175, 175, 175, 1);
    background-image: linear-gradient(33deg, rgba(175, 175, 175, 1) 0%, rgba(245, 245, 245, 1) 42%, rgba(175, 175, 175, 1) 81%);
}
.bg-button:hover{
    background-color: rgb(117, 117, 117);
    background-image: linear-gradient(99deg, rgb(148, 148, 148) 0%, rgb(232, 232, 232) 42%, rgb(111, 111, 111) 81%);

}
.border-w-1{
    border-width: 1px;
    border-style: solid;
}
.border-w-2{
    border-width: 2px;
    border-style: solid;
}
.border-none{
    border: none;
}
.border-img-wrap{
    border-radius: 10px 10px 0px 0px;
}
.border-box-wrap{
    border-radius: 0px 0px 10px 10px;
}
.border-rounded-button{
    border-radius: 4px;
}
.border-rounded-full{
    border-radius: 999px;
}
.border-rounded-half{
    border-radius: 10px;
}
.border-color-button{
    border-color: #1A1A1A;
}
.border-color-light{
    border-color: #838383;
}
.box-shadow-big-webkit{
    box-shadow: rgba(51, 51, 51, 0.35) 0px 5px 15px;
    -webkit-box-shadow: rgba(51, 51, 51, 0.35) 0px 5px 15px;
    -webkit-appearance: none;
}
.box-shadow-big{
    box-shadow: rgba(51, 51, 51, 0.35) 0px 5px 15px;
}
.box-shadow-big-rounded{
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px;
}
.backdrop-blur-10px{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.gap--1rem{
    gap: -2rem;
}
.gap-2vw{
    gap: 2vw;
}
.gap-04rem{
    gap: .4rem;
}
.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 2rem;
}
.gap-4rem{
    gap: 4rem;
}
.gap-paragrahp{
    gap: 1rem;
}
.nav-gap{
    gap: 1rem;
}
.break-gap{
    gap: 1rem;
    gap: 2vw;
}

.grid{
    display: grid;
}
.grid-temp-col{
    grid-template-columns: repeat(1, 1fr);
}
.grid-temp-col-3{
    grid-template-columns: repeat(1, 1fr);
}
.grid-col{
    grid-column: 1;
    grid-row: 1;
}
.grid-col-2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-shrink-0{
    flex-shrink: 2;
}
.flex{
    display: flex;
}
.flex-reverse-row{
    flex-direction: row-reverse;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.flex-col-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: flex-start;
}
.items-end{
    align-items: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justyfy-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.sticky{
    position: sticky;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.left-50{
    left: 50%;
    transform: translateX(-50%);
}
.bottom-0{
    bottom: 0;
}
.padd-top-2rem{
    padding-top: 2rem;
}
.padd-top-4rem{
    padding-top: 4rem;
}
.padd-between-section{
    padding-block: 2rem;
}
.padd-in-5vw{
    padding-inline: 5vw;
}
.padd-inline{
    /* padding-inline: 5vw; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-inline: clamp(1rem, 5vw,2rem);
}
.padd-in-nav{
    padding-left: .4rem;
    padding-right: .4rem;
    padding-inline: clamp(.4rem, .6vw, 1rem);
}
.padd-in-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-inline: 1rem;
}
.padd-in-2rem{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-inline: 2rem;
}
.padd-in-section{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-inline: 1rem;
}
.padd-block-nav{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-block: 1.2rem;
}
.padd-block-section{
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
    /* padding-block: 2rem; */
}


.padd-block-04rem{
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-block: .4rem;
}
.padd-block-btn{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-block: 2vw;
}
.padd-block-1rem{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-block: 1rem;
}
.padd-block-1_4rem{
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-block: 1.4rem;
}
.padd-block-2rem{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-block: 2rem;
}
.padd-block-4rem{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-block: 4rem;
}
.padd-1rem{
    padding: 1rem;
}
.padd-2rem{
    padding: 2rem;
}
.padd-right-04rem{
    padding-right: 0.4rem;
}
.margin{
    margin: 1rem;
}
.margin-1rem{
    margin: 1rem;
}
.margin-0-auto{
    margin: 0 auto;
}
.margin-2rem-auto{
    margin: 2rem auto;
}
.margin-bottom-1rem{
    margin-bottom: 1rem;
}
.margin-top{
    margin-top: 4rem;
}
.margin-top-2rem{
    margin-top: 2rem;
}
.margin-block{
    margin-block: 4rem;
}
.margin-bottom-10rem{
    margin-bottom: 10rem;
}
.wh-full{
    width: 100%;
    height: 100%;
}
.w-full{
    width: 100%;
}
.w-10rem{
    width: 10rem;
}

.h-full{
    height: 100%;
}
.h-20vh{
    height: 20vh;
}
.z-i-1{
    z-index: 1;
}
.z-i-10{
    z-index: 10;
}
.z-i-20{
    z-index: 20;
}
.cursor-pointer{
    cursor: pointer;
}
.text-decolist-none{
    text-decoration: none;
    list-style: none;
}
.text-decoration-line-through{
    text-decoration: line-through;
}
/* BUTTONS */
.btn-links-nav{
    /* background-color: #dd00ff; */
    /* padding: 1rem; */
}
.letter-spacing{
    letter-spacing: 1.8px;
    line-height: 1.2;
}
.letter-spacing-big{
    letter-spacing: 4px;
}
.white-space{
    white-space: nowrap;
}
.text-wrap{
    white-space: pre-wrap;
    text-align: center;
}
.text-ellipsis{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 100px; */
}
.transition-all{
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);   
}
.duration-200{
    transition-duration: .2s;
}
.duration-700{
    transition-duration: .7s;
}
.border-separation{
    border-bottom: .5px solid #696969;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: .2;
    }
}

@keyframes backHoverIn {
    0%{
        /* background-color: #48E573; */
        background-color: #ffae00;
    }
    100%{
        background-color: #ff8800;
    }
}

@keyframes backHoverOut {
    0%{
        /* background-color: #74d08c; */
        background-color: #ff8800;
    }
    100%{
        background-color: #ffae00;
        /* background-color: #48E573; */
    }
}